{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="{% static 'base.css' %}"> <!-- Link to the CSS file -->
</head>
<body>
    <h1>Books</h1>
    <ul>
        {% for book in books %}
        <li>
            <h2>{{ book.title }}</h2>
            <p>Author: {{ book.author }}</p>
            <p>Published Date: {{ book.published_date }}</p>
            <p>ISBN Number: {{ book.isbn_number }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
